<body>
  <nav class="navbar bg-light">
    <div class="container-fluid">
      <img
        src="https://ik.imagekit.io/lvh0tltbeph/SofkaU/logo-sofkau_1Fn3uH-1S.png?ik-sdk-version=javascript-1.4.3&updatedAt=1645658493330"
        alt="" width="200" height="75" />
    </div>
  </nav>
  <br />
  <main>
    <div class="container mt-4 mb-4">
      <div class="card">
        <div class="card-body">
          <span class="h3 align-text-top" style="text-align: center">Rutas de Aprendizaje</span>
          <button class="btn btn-primary float-end" (click)="learningRouteForm()">Agregar</button>
          <table class="table table-bordered table-striped mt-2" style="text-align: center">
            <thead>
              <tr class="text-center">
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Nivel</th>
                <th>Curso</th>
                <th>Prerrequisito</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let route of routes">
                <td>{{ route.name }}</td>
                <td>{{ route.description }}</td>
                <td>{{ route.level }}</td>
                <td>{{ route.course }}</td>
                <td>{{ route.prerequisite }}</td>
                <td>
                  <i class="fas fa-edit fa-lg text-info" (click)="handleEditClick(route)"></i>
                  <i class="fas fa-trash-alt fa-lg text-danger" (click)="handleDeleteClick(route.id)"
                    style="margin-left: 1rem"></i>
                  <i class="fa-light fa-grid-2-plus" style="margin-left: 1rem" (click)="handleAddCourses()"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
</body>
<router-outlet></router-outlet>
