<app-nav></app-nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 d-md-block bg-light sidebar">
      <app-menu></app-menu>
    </div>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">

        <div class="card">
          <div class="card-body">
            <span class="h3 align-text-top" style="text-align: center">TRAININGS</span>
            <button class="btn btn-primary float-end" (click)="trainingForm()">Agregar</button>
            <table class="table table-bordered table-striped mt-2" style="text-align: center">
              <thead>
              <tr class="text-center">
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Fecha de inicio</th>
                <th>Fecha de finalización</th>
                <th>Coach encargado</th>
                <th>Ruta de aprendizaje</th>
                <th>Aprendices</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let training of trainings">
                <td>{{ training.name}}</td>
                <td>{{ training.description}}</td>
                <td>{{ training.startDate}}</td>
                <td>{{ training.endDate}}</td>
                <td>{{ training.coach}}</td>
                <td>{{ training.routeLearning}}</td>
                <td>{{ training.apprentices}}</td>
                <td>
                  <i class="fas fa-edit fa-lg text-info" (click)="handleEditClick(training)"></i>
                  <i (click)="handleDeleteClick(training.id)" class="fas fa-trash-alt fa-lg text-danger"
                     style="margin-left: 1rem"></i>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </main>

  </div>
</div>
