<app-nav></app-nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 d-md-block bg-light sidebar">
      <app-menu></app-menu>
    </div>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">

        <div class="card">
          <div class="card-body">
            <span class="h3 align-text-top" style="text-align: center">Rutas de Aprendizaje</span>
            <button class="btn btn-primary float-end" (click)="learningRouteForm()">Agregar</button>
            <table class="table table-bordered table-striped mt-2" style="text-align: center">
              <thead>
                <tr class="text-center">
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th>Rutas</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let route of routes">
                  <td>{{ route.name }}</td>
                  <td>{{ route.description }}</td>
                  <td>{{ route.routes }}</td>
                  <td>
                    <i class="fas fa-edit fa-lg text-info" (click)="handleEditClick(route)"></i>
                    <i class="fas fa-trash-alt fa-lg text-danger" (click)="handleDeleteClick(route.id)"
                      style="margin-left: 1rem"></i>
                    <button style="margin-left: 1rem" (click)="handleAddCourses()">+</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </main>

  </div>
</div>
