<body>
<nav class="navbar bg-light">
  <div class="container-fluid">
    <img
      src="https://ik.imagekit.io/lvh0tltbeph/SofkaU/logo-sofkau_1Fn3uH-1S.png?ik-sdk-version=javascript-1.4.3&updatedAt=1645658493330"
      alt="" width="200" height="75">
  </div>
</nav>
<br>
<main>
  <h2 style="text-align: center">CREACIÓN DE CURSO</h2>
  <div class="container" [formGroup]="createCourseForm" (ngSubmit)="createEditCourse()">
    <div class="input-container">
      <label class="col-form-label">Nombre:</label>
      <input type="text" name="name" class="form-style" formControlName="name" #courseName>
    </div>
    <div class="input-container">
      <label class="col-form-label">Descripción:</label>
      <input type="text" name="description" class="form-style" formControlName="description" #courseDescription>
    </div>
    <div class="input-container">
      <label class="col-form-label">Valor de aprobación:</label>
      <input type="number" name="approval" class="form-style" formControlName="approvalValue" #approvalValue>
    </div>
    <input type="submit" class="btn btn-primary m-auto" value="Guardar"
    (click)="createCourse(courseName.value,courseDescription.value,approvalValue.valueAsNumber)" >
  </div>
  <br>
  <h2 style="text-align: center">LISTA DE CURSOS</h2>
  <table class="table mt-auto table-bordered table-striped" style="text-align: center">
      <thead>
      <tr class="text-center">
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Valor de aprobación</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let course of courses">
        <td>{{ course.id }}</td>
        <td>{{ course.name}}</td>
        <td>{{ course.description}}</td>
        <td>{{ course.approvalValue}} %</td>
        <td>
          <i class="fas fa-edit fa-lg text-info mr-2" (click)="isUpdate(course)"></i>
          <i (click)="deleteCourse(course.id)" class="fas fa-trash-alt fa-lg text-danger"></i>
        </td>
      </tr>
      </tbody>
    </table>
</main>
</body>
<router-outlet></router-outlet>
