body {
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: black solid 0.1rem;
  border-radius: 2rem;
  width: 30%;
  background-color: aliceblue;
  margin: auto;
  padding: 1rem;
}

.input-container {
  padding: 0.5rem;
}
.form-style {
  width: 100%;
}
.button {
  width: 30%;
  align-self: center;
}

i {
  cursor: pointer;
}



